.home-master-container img {
  width: 100%; /* Ensures the image stretches the full width of the container */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes extra space below the image */
}

.navbar-logo img {
  width: 100%;
}

.home-header {
  text-align: center; /* Centers the text content */
  /* padding: 20px; */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: Adds a semi-transparent overlay for better readability */
}

img.full-width-image {
  width: 100%; /* Makes the image span the entire width */
  height: auto; /* Maintains aspect ratio */
  display: block;
  margin: 0; /* Removes extra margin */
}

.header-image {
  padding: 0;
}
