/* 

button.unvote-btn {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(252, 106, 106);
   padding: 2%; 
   margin-right: 12%; 
}
button.unvote-btn:hover {
  background-color: rgb(58, 6, 6);
}

.upvote-btn {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: #007bff;
   padding: 2%; 
   border: 2px solid black; 
}
button.upvote-btn:hover {
  background-color: #0c539f;
}

*/
