/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  /* border: yellow 2px solid; */
}

.app-master-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.side-nav {
  height: 100%;
  width: 12%;
  position: fixed;
  font-size: larger;
  font-weight: bolder;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #5b5a5a;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.side-nav > a {
  border: lightblue solid 2px;
  margin: 3%;
}

@media (max-width: 1024px) {
  * {
    font-size: 100%;
  }
}

.hidden {
  display: none;
}
