/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  /* border: yellow 2px solid; */
}

.app-master-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.side-nav {
  height: 100%;
  width: 12%;
  position: fixed;
  font-size: larger;
  font-weight: bolder;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #5b5a5a;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

.side-nav > a {
  /* border: lightblue solid 2px; */
  margin: 3%;
}

@media (max-width: 1024px) {
  * {
    font-size: 100%;
  }
}

.hidden {
  display: none;
}

/* Top Navigation Bar */
.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #000000;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-nav a {
  color: rgb(0, 0, 0);
  /* background-color: #ffe1c9; */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  /* border: 2px solid lightblue; */
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.top-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav a img {
  width: 70%;
}
.top-nav button {
  font-family: "Kumar One", cursive;
  -webkit-text-stroke: 0.01px black; /* Outline thickness */
  color: #000000;
  background-color: #ffe1c9;
}

.top-nav a:hover {
  /* background-color: lightblue; */
  color: black;
}

.main {
  margin-top: 70px; /* Adjust for fixed top navigation bar */
  padding: 0%;
}
